<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Shi on DRRR (BETA)</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.4.2/clipboard.min.js"></script>

  <link rel="stylesheet" href="/stylesheets/cyborg-theme.css">
  <link rel="stylesheet" href="/stylesheets/index.css">

</head>

<body>

  <div class="container p-wrapper" style="margin:auto">

    <div class="input-group">
      <input id="get-link" type="text" class="form-control" placeholder="Paste link here...">
      <span id="get-btn" class="input-group-btn">
          <button class="btn btn-default" type="button">Go!</button>
        </span>
    </div>

    <div class="list-group" id="results"></div>

    <p>Sometimes links shared on drrr doesn't work &lt;(") will fix in near future</p>
    <hr>
    <p>Only get links from youtube or mp3.zing</p>
    <p>Only support getting links of single song, full album is not (yet) supported</p>
    <p>I do not own any song from youtube or mp3.zing. And this site does not support downloading songs either. If one of these
      sites contacts me then i will absolutely take down this website. </p>
    <p>Email: shilock@tuta.io</p> 

    <a href="#" id="export-btn">Export to drrr collections</a>
  </div>

  <div id="alert-modal" class="modal fade p-wrapper">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <h5>Copied!</h5>
        </div>
      </div>
    </div>
  </div>



  <script>
    var clipboard = new Clipboard('.clipboard');
  </script>
  <script src="/javascripts/indexUI.js"></script>

</body>

</html>